[Unit]
Description=Save bluetooth devices before sleep
Before=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target shutdown.target reboot.target


[Service]
Type=oneshot
ExecStart=/opt/steamdeck-bt-reconnect/bt-control.bash save_devices

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target shutdown.target reboot.target
